// declarar variables principales
// colores
$colorbg1: #325da1;
$colorbg2: #373B44;
$color-primario: #fff;
$color-secundario: #000;
$color-error: #dc354540;
// fuentes
$font: 'Segoe UI', sans-serif;
$font-family: 'Montserrat', sans-serif;